<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrivingTestApp"
        tools:targetApi="31">
        <activity
            android:name=".LawActivity4"
            android:exported="false" />
        <activity
            android:name=".LawActivity3"
            android:exported="false" />
        <activity
            android:name=".LawActivity2"
            android:exported="false" />
        <activity
            android:name=".LawActivity1"
            android:exported="false" />
        <activity
            android:name=".LawActivity"
            android:exported="false" />
        <activity
            android:name=".LawListActivity"
            android:exported="false" />
        <activity
            android:name=".RoadSignActivity"
            android:exported="false" />
        <activity
            android:name=".RoadSignActivity"
            android:exported="false" />
        <activity
            android:name=".LearningActivity"
            android:exported="false" />
        <activity
            android:name=".ExamActivity4"
            android:exported="false" />
        <activity
            android:name=".ExamActivity3"
            android:exported="false" />
        <activity
            android:name=".ExamActivity2"
            android:exported="false" />
        <activity
            android:name=".ExamActivity1"
            android:exported="false" />
        <activity
            android:name=".ExamActivity"
            android:exported="false" />
        <activity
            android:name=".ExamListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>